# IPython Notebook
.ipynb_checkpoints

# Sphinx
_build
_static

# Doxygen
*.db
html
latex
xml

# SCons
.sconsign.dblite

# C extensions
*.so
*.os

# Test
test/binomial/_*.cpp

# Python
*.py[cod]

# Packages
*.egg
*.egg-info
dist
build
build-scons

# Vim
*.swp

# Gedit
*.*~
